body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #353436;
}

.file-upload {
    padding: 3% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #ffffff;
    background-color: #ffffff;
    
}

.img {
    margin: 0 auto;
     text-align: center;

}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #c9c9c9;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}


.image-upload-wrap {
    width: 70%;
        height: 70%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 5px;
    border: dashed 1.5px #ffffff;
    background-color: #f0f0f0;
    
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #cfdefd;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}


.file-upload-image {
  max-height:50%;
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #B9B6B7; 
}


.navbar-light .navbar-toggler {
    border-color: #B9B6B7;
}
.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #f60505;
        font-size: 25px;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #31312E;
        font-size: 30px;
}
.sbtitle {
  line-height: 1.53;
  text-align: center;
  color: #0045ff;
        font-size: 20px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}



.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
  height: 2.7rem;
}
.ng-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 102, 102, 0.2);
}
.ng-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 102, 102, 1);
}
.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.bg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.bd-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.bd-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.sg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 102, 153, 0.2);
}
.sg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 102, 153, 1);
}
.sy-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(102, 204, 153, 0.2);
}
.sy-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(102, 204, 153, 1);
}
.yg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.yg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.yng-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.yng-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.yd-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(105, 140, 102, 0.2);
}
.yd-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(105, 140, 102, 1);
}
.ud-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.2);
}
.ud-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 1);
}
.ys-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(204, 153, 255, 0.2);
}
.ys-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(204, 153, 255, 1);
}
.cj-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 205, 0, 0.2);
}
.cj-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 205, 0, 1);
}
.cg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 102, 0, 0.2);
}
.cg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 102, 0, 1);
}

.tg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 102, 102, 0.2);
}
.tg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 102, 102, 1);
}
.tgd-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.tgd-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.ps-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.ps-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.hd-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 102, 153, 0.2);
}
.hd-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 102, 153, 1);
}



.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.op-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}


.op-explain {
    color: #23231e;
    font-size: 1.5rem;
}
.ng-op-title {
    color: #676a6e;
}
.ng-op-celeb {
    color: #3e99e9;
    font-size: 1.2rem;
}
.bg-op-title {
    color: #3ba363;
}
.bg-op-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.bd-op-title {
    color: #ff6c0a;
}
.bd-op-celeb {
    color: #ff6c0a;
    font-size: 1.2rem;
}
.sg-op-title {
    color: #548dd4;
}
.sg-op-celeb {
    color: #548dd4;
    font-size: 1.2rem;
}
.sy-op-title {
    color: #e56995;
}
.sy-op-celeb {
    color: #e56995;
    font-size: 1.2rem;
}
.yg-op-title {
    color: #9b6b43;
}
.yg-op-celeb {
    color: #9b6b43;
    font-size: 1.2rem;
}
.yng-op-title {
    color: #31849b;
}
.yng-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.yd-op-title {
    color: #31849b;
}
.yd-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.ud-op-title {
    color: #31849b;
}
.ud-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.ys-op-title {
    color: #31849b;
}
.ys-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.cj-op-title {
    color: #31849b;
}
.cj-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.cg-op-title {
    color: #31849b;
}
.cg-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.tg-op-title {
    color: #31849b;
}
.tg-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.tgd-op-title {
    color: #31849b;
}
.tgd-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.ps-op-title {
    color: #31849b;
}
.ps-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.hd-op-title {
    color: #31849b;
}
.hd-op-celeb {
    color: #31849b;
    font-size: 1.2rem;
}



/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.ad-banner {
    width: 320px;
    margin: 0 auto;
}


.coupang-banner {
    width: 320px;
    margin: 0 auto;
}